<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70166545066-ugnn021ude1ln1gnfm51up2cdvud2n0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70166545066-ugnn021ude1ln1gnfm51up2cdvud2n0a</string>
	<key>API_KEY</key>
	<string>AIzaSyA3L4lWQFAmsGM0r29p6a5F9ea_Zse7AEk</string>
	<key>GCM_SENDER_ID</key>
	<string>70166545066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thanhlong.com.LongShop</string>
	<key>PROJECT_ID</key>
	<string>long-shop-28864</string>
	<key>STORAGE_BUCKET</key>
	<string>long-shop-28864.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70166545066:ios:dc4fe55be824f35dc606d3</string>
</dict>
</plist>